$color-location : #7A4BB7;
$color-character: #EB76BA;
$color-species: #FFCD00;
$color-episode: #00B0FF;
$color-nav: #c7ffbe;
$color-nav-letter: #0b4619;
$color-card: #0b4619;
$color-button: #0b4619;
$color-button-active: #53f178;
$color-button-disable: #558560;
$status-live: #b2ea70;
$status-death: #c85c5c;
$letter-color: #fff;
$color-button-hover: #c7ffbe;
$font-family: "Rock Salt", cursive;